@charset "utf-8";

@font-face {
    font-family: Kavoon;
    src: url(../fonts/Kavoon-Regular.otf);
}

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}


body {
    line-height: 1;
    background: #cccccc;
    box-sizing: border-box;
}


ol, ul {
    list-style: none;
}


/*
	Color Pallete

	Black (Search Bar): #000000;
	Grey (Follows bar): #cccccc;
	Grey Dark (Body2): #333333;
	Red (Decorative): #990000;
	White (Header): #ffffff;

*/


/*CSS Mobile */
.smart{display: none;}


/*CSS clearfix*/
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}


/*CSS search bar*/
#search-line {
    background: #000000;
    padding: 0 10%;
    text-align: right;
}

#search-line form {
    padding: 3px;
}


header{
    background: #ffffff;
    padding: 0 10%;
}


/*CSS Container Logo + Navigation bar*/
#topnav-container {
    background: #ffffff;
    box-sizing: border-box;
    padding: 5px;
}


/*CSS Logo */
#topnav-container .logo {
    display: inline-block;
    width: 230px;
}

#topnav-container .logo img{
    width: 60px;
    height: 60px;
}

#topnav-container .logo div{
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 24px;
    font-weight: bold;
    padding: 5px;
    width: 145px;
    margin-left:10px;
    display: inline-block;
    vertical-align: top;
}


/*CSS Desktop Navigation bar */
.desktop-nav {
    background: #ffffff;
    float: right;
    margin-right: 5%;
    padding: 3px;
    width: calc(100% - 550px);
    min-width: 330px;
}

.desktop-nav li {
    background: #ffffff;
    box-sizing: border-box;
    float: left;
    width: 25%;
}

.main-nav a {
    color: #000000;
    box-sizing: border-box;
    display: block;
    font-family: Arial, Verdana, sans-serif;
    font-size: .9rem;
    margin-top: 20px;
    text-decoration: none;
}

.main-nav a:hover{
    font-weight: bold;
}


/*CSS Mobile */
.mobile-nav{
    float: right;
    margin-top: -10px;
}

.mobile-nav a{
    width: 30px;
    margin: 25px 0 0 0;
    height: 30px;
    background: url(../images/mobile-nav.png);
    text-indent: -9999px;
    display: inline-block;
    background-size: contain;
}


/*Decorative element*/
.red-division {
    background-color: #990000;
    height: 5px;
}



#fnavigation {
    background: #ffffff;
    color: #000000;
    font-family: Arial, Verdana, sans-serif;
    font-size: 16px;
    font-weight: normal;
    padding: 5px 10%;
    text-align: center;
}

#fnavigation nav{
    width: 20%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    line-height: 2em;
}

#fnavigation nav h3{
    font-weight: bold;
}

#fnavigation nav a{
    color:#2b2b2b;
    text-decoration: none;
}

#fnavigation nav a:hover{
    font-weight: bold;
}


#main-content{
    margin: 25px auto;
    font-family: Arial, Verdana, sans-serif;
    width: calc( 100% - 315px);
    vertical-align: top;
    display: block;

}
#main-content h2{
    font-family: 'Kavoon', sans-serif;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 15px;
}
#main-content p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 30px;
    text-align: justify;
}

/* Community Line */

#community {
    padding: 20px;
    border-bottom: 10px solid #333333;
    border-top: 10px solid #333333;
}

#community h2 {
    color: #000000;
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

#community div{
    text-align: center;
}

#community div a {
    font-family: Arial, Verdana, sans-serif;
    background: #990000;
    border-radius: 5px;
    position: relative;
    width: 250px;
    height: 25px;
    display: inline-block;
    margin-top: 10px;
    padding-top: 7px;
    color: #f1f1f1;
    transition: all .3s;
    text-decoration: none;
    top:0;
    left:0;
}

#community div a:hover{
    top:-3px;
    left:-4px;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5);
}

#copyright {
    background: #000000;
    color: #ccc;
    font-family: "Century Gothic", Arial, sans-serif;
    font-size: 14px;
    font-weight: normal;
    padding: 5px 10%;
    text-align: right;
}


/* ********* SIDE NAV ****************************** */
#sideNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 9;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

#sideNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 2rem;
    margin-bottom: 15%;
    color: #818181;
    display: block;
    transition: 0.3s;
}

#sideNav a:hover {
    color: #f1f1f1;
}

#sideNav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

/* ******** MOBILE / Tablet ********** < 768px ***** */

@media screen and (max-device-width:768px), (max-width: 768px){
    .desktop{display: none;}
    .smart{display: block;}
    .desktop-nav {display:none;}

    #community h2 {
        font-size: .8rem;
    }

    #community div a {
        width: 50%;
        /*font-size: 1.3rem;*/
        font-size: 1rem;
    }

    #copyright {
        font-size: .5rem;
        text-align: center;
    }

    #main-content{
        width: 100%;
    }
    #main-content .text-content{
        width: 90%;
        margin: 0 auto;
    }
    .large-btns_nav{
        width: 70px !important;
    }
}